
flutter_application_1/build/


build/


venv/


flutter_application_1/android/.gradle/

flutter_application_1/.dart_tool/
flutter_application_1/.flutter-plugins
flutter_application_1/.flutter-plugins-dependencies
flutter_application_1/.packages
flutter_application_1/.pub-cache/
flutter_application_1/.pub/


*.iml
.idea/
.vscode/


__pycache__/
*.pyc


.DS_Store
*.swp
*.swo


ProjectProgress/motion_dataset.csv
ProjectProgress/14525.zip
ProjectProgress/yolo_motion_dataset_with_window_scores.csv
